<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">
<listeners>
         <listener class-name="resources.listener"/>
         <listener class-name="resources.ExtentReporterNG"/>
	   <listener class-name="resources.annotationTransformer"/>
         
 </listeners>

	<test name="Free CRM App Test Cases">
    <classes>
    
          <class name="com.crm.qa.testcases.LoginPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
